<header>
    <ul>
        <li><a href="/homePage">Home</a></li>
        <li><a href="/linksPage">Links</a></li>
        <li><a href="/pastWork">Work</a></li>
        <li><a href="/staffPage">Staff</a></li>
        <li><a href="/companyHistory">History</a></li>
        <li><a href="/contactPage">Contact</a></li>
    </ul>
</header>